<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Safe route</title>
</head>
<body>
    <section id="details">
        <div class="grid-container3">
            <div class="contact-form" data-aos="fade-up" method="post" action="/sendsms">
                <div class="form-text">
                    <h2>Drop in the details below!</h2>
                   
                </div>
                <input type="text" placeholder="Vehicle number" class="form-input">
                <input type="text" placeholder="Vehicle's name" class="form-input">
                <input type="text" placeholder="Driver's name" class="form-input">
                <button class="bttn">Send</button>
            </div>
        </div>
    </section>
    
</body>
</html>